/*background*/
.bg-image{
    background-image: url(./imagem/backgroundLogin.jpg);
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
    backdrop-filter: blur(2px);
}