@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Cinzel+Decorative:wght@700&family=MedievalSharp&display=swap');
/*background*/
.fundo{
    background: url(./imagem/imagemfundo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    flex-direction: column;
    background-attachment: fixed;
    backdrop-filter: url(filters.svg#filter) blur(2px) brightness(0.5);
}
/*rodapé*/
.footer{
    padding: 1px;
    position: static;
}
/*texto logo*/
.logonome{
    font-family: 'Bitter', serif;
    font-size: 40px;
}