/*background*/
.bg-image{
    background-image: url(./../imagem/backgroundLogin.jpg);
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    position: relative;
    height: 100vh;
    width: 100vw;
}